<div class="width-1500px">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
        <vg-controls>
            <vg-buffering vgFor="video-item"></vg-buffering>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-fullscreen></vg-fullscreen>
            <vg-quality-selector [bitrates]="dashBitrates" (onBitrateChange)="vgDash.setBitrate($event)">
            </vg-quality-selector>
        </vg-controls>
        <video #media [src]="currentPlayedItem?.src" [vgMedia]="media" id="video-item" preload="auto" crossorigin>
        </video>
    </vg-player>
</div>